body {
  margin: 50px;
  position: relative;
  padding: 0px;
  font-family: sans-serif;
  background: rgb(20, 18, 20);
  background: linear-gradient(90deg, rgb(212, 131, 8) 11%, rgb(15, 15, 15) 44%, rgb(216, 134, 11) 100%);
}



