body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(20, 18, 20);
  background: linear-gradient(90deg, rgb(18, 17, 19) 11%, rgba(23,168,110,1) 44%, rgb(19, 20, 20) 100%);
}


