.form {
    width: 60vw;
    font-size: 2vh;
    background-color:black;
}

.font {
    font-weight: 900;
    font-family: 'Yusei Magic', sans-serif;
}

.searchAgainBarform {
    flex:1;
    max-width: 40vw;
    min-width: none;
}

.searchButton {
    flex: 1;
    height: 23px;
    min-width: 3vh;
  
}

/* .findButton{
    width: 20vh;
    font-size: 2vh;
} */

/* .textResponsive {
    font-size: 100px;
} */


/* @media (max-width: 320px) {
    .form {
        display: block;
        font-size: 10px;
        width: 60vw ;
        background-color: black;
    }
    
    .findButton {
        width: 20vh;
    }

   
    .buttonSize{
        background-color: black;
        
    }

    .searchAgainBarPosition{
        flex-direction: column;
        margin-right: 150px;
        
    }

    .searchAgainBarform{
        width: 50vw;
    }
}


@media (min-width: 320px) and (max-width: 600px) {
    .form {
        background-color:black;
        font-size: 2vh;
        width: 40vh ;
    }
    
    .findButton {
        width: 20vh;
    }

    /* .textResponsive {
        font-size: 20px;
    } */

    


        /* @media (min-width: 768px) and (max-width: 992px) {

        .searchAgainBarPosition{
            flex-direction: column;
            margin-right: 450px;
            
        }

        .searchInputPosition {
            margin-right: 10px;
        }

        .spanSize {
            width: 20vh;
        }
    } /*} */